# CODEOWNERS — all PRs require review from @eduluma/maintainers
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @eduluma/maintainers
